﻿
@{
    ViewData["Title"] = "CreateTask";
}

<h1>CreateTask</h1>
<form method="post"  asp-action="CreateTask" asp-controller="Home">
        <input type="text" name="Header" />
        <input type="text" name="Description" />
        <input type="submit" value="Add" />
    </form>
@*<form method="post" action="Home/CreateTask">
    <input type="text" name="Header" />
    <input type="text" name="Description" />
    <input type="submit" value="Add" />
</form>*@
@*@using (Html.BeginForm("CreateTask", "Home", FormMethod.Post))
{
    <input type="text" name="Header" />
    <input type="text" name="Description" />
    <input type="submit" value="Add" />
}*@