﻿@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<DotnetCore.Models.ManagerTask>
@inject IValidator validator
<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <td>"Header"</td>
                <td>"Desc"</td></tr>
        </thead>

        <tbody>

            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.Header</td>
                    <td>@item.Description</td>
                    <td><a href="Home/Task?id=@item.Id"> TEXT</a></td>
                </tr>
            }
            @validator.Validate()
            @validator.Validate()
            @validator.Validate()

        </tbody>

    </table>
</div>
