﻿
@{
    ViewData["Title"] = "Task";
}
@model DotnetCore.Models.ManagerTask

 <h1>Task</h1>
<div>
    <h2>
        <b>Header: </b>
        @Model.Header
    </h2>
    <h2>
        <b>Description: </b>
        @Model.Description
    </h2>

</div>
    


