﻿@using System.Collections.Generic
@using MainAcad_MVC.Models
@model  IEnumerable<UserModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-danger btn-lg">Learn more &raquo;</a></p>
</div>
@Model
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>FirstName</td>
                    <td>LastName</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@Html.ActionLink("Edit", "Edit", "User", new { id = user.Id }, new { })</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>
</div>