﻿@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <canvas id="pixelCanvas" width="1000" height="600" style="border:2px solid black"></canvas>

    <div>
        <fieldset>
            <legend>Pick color</legend>
        </fieldset>
        <input type="color" id="colorPicker" />
    </div>
    <input type="text" id="userName" />
    <input type="text" id="messageText"/>
    <input id="sub" type="submit"/>
    <div id="chat">

    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="signalr/hubs"></script>
    <script>

        var canvas = document.getElementById("pixelCanvas");
        var colorPicker = document.getElementById("colorPicker");
        var chatBody = document.getElementById("chat");
        var sub = document.getElementById("sub");

        var ctx = canvas.getContext("2d");

        var offsetX = canvas.offsetLeft;
        var offsetY = canvas.offsetTop;

        function drawAllPointsWithinAllTimeForUser(pixels) {
            var array = JSON.parse(pixels);
            for (var i = 0; i < array.length; i++) {

                addPixel(array[i].X, array[i].Y, array[i].Color);
            }
        }

        function addPixel(x, y, color) {
            ctx.beginPath();
            ctx.lineWidth = "2";
            ctx.strokeStyle = `${color}`;
            ctx.rect(x, y, 2, 2);
            ctx.stroke();
        }

        function renderMessage(userName, messageText) {
            chatBody.innerHTML += `<div><p><b>${userName}</b></p><p>${messageText}</p></div>`;

        }
       

        var hub = $.connection.pixelHub;
        hub.client.addPixel = addPixel;
        hub.client.drawAllPointsWithinAllTimeForUser = drawAllPointsWithinAllTimeForUser;
        hub.client.renderMessage = renderMessage;

        $.connection.hub.start().done(() => {
            canvas.addEventListener("click", function (args) {
                var x = args.pageX - offsetX;
                var y = args.pageY - offsetY;
                var color = colorPicker.value;
                hub.server.addPixelServer(x, y, color);
            })

            sub.addEventListener("click", function (args) {
                var user = document.getElementById("userName").value;
                var message = document.getElementById("messageText").value;

                hub.server.processMessage(user, message);
            })
        }
        );
    </script>


}