﻿@model MainAcad_MVC.Models.UserModel
<div>
    @*<form method="post" action="/User/Save">
        <input type="text" name="Id" value="@Model.Id"/>
        <input type="text" name="FirstName" value="@Model.FirstName" />
        <input type="text" name="LastName" value="@Model.LastName" />
        <input value="Save" type="submit">
    </form>*@

    @using (Html.BeginForm("Save","User", FormMethod.Post))
    {
        @*@Html.EditorFor(c=>c.Id) 
        @Html.EditorFor(c=>c.FirstName)
        @Html.EditorFor(c=>c.LastName)*@
        @Html.EditorForModel()
       
        <input type="submit"/>
    }
</div>
@*<p>@Model.Id</p>
<p>@Model.FirstName</p>
<p>@Model.LastName</p>*@