﻿

<h1>
    Informations about user
</h1>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Property</td>
                    <td>Value</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <td>FirstName</td>
                    <td>@Model.FirstName</td>
                </tr>
                <tr>
                    <td>LastName</td>
                    <td>@Model.LastName</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>