﻿@using DAL
@model User


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    @Html.LabelFor(c => c.FirstName)
    @Html.EditorFor(m => m.FirstName)
    @Html.ValidationMessageFor(m => m.FirstName)
    <br>
    @Html.LabelFor(c => c.LastName)

    @Html.EditorFor(m => m.LastName)
    @Html.ValidationMessageFor(m => m.LastName)
    <br>

    @Html.LabelFor(c => c.Username)

    @Html.EditorFor(m => m.Username)
    @Html.ValidationMessageFor(m => m.Username)
    <br>

    @Html.LabelFor(c => c.PasswordHash)

    @Html.EditorFor(m => m.PasswordHash)
    @Html.ValidationMessageFor(m => m.PasswordHash)

    <input type="submit" />
}
