﻿@using WebUIApp.Helpers
@using DAL
@model IEnumerable<User>
@{
    ViewBag.Title = "User management";
}

<div class="row">
    <div class="col-md-12">
        @RenderTable(Model)

        @Html.RenderTable(Model)

    </div>
    <div>
        <a class="btn btn-primary" href="@Url.Action("Create","Home")">Create user</a>
    </div>
</div>

@helper RenderTable(IEnumerable<User> users)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>FirstName</td>
                <td>LastName</td>
                <td>IsBlocked</td>
                <td></td>
            </tr>

        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.IsBlocked</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = user.Id })</td>
                </tr>
            }
        </tbody>
    </table>

}