﻿@using MainAcad_AspNet_Search_Pagin.Helpers
@model MainAcad_AspNet_Search_Pagin.Models.PaginationModel
@{
    ViewBag.Title = "Pagin page";
}


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>FirstName</td>
            <td>LastName</td>
            <td>UserName</td>
            <td>Roles</td>
        </tr>

    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Login</td>
                <td>@string.Join(",", user.Roles)</td>

            </tr>
        }
    </tbody>
</table>

@Html.PaginatioFor(Model.PageInfo, Url)
@*@section scripts{
     <script>
         let a = function () {
             console.log("hello!");
         }

         $("#btn").click(a);

        </script>
    }*@