﻿@model List<MainAcad_AspNet_Search_Pagin.Models.User>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <input type="text" name="searchString" value="@ViewBag.SearchString" />
    <input type="submit" />
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>FirstName</td>
            <td>LastName</td>
            <td>UserName</td>
            <td>Roles</td>
        </tr>

    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Login</td>
                <td>@string.Join(",", user.Roles)</td>

            </tr>
        }
    </tbody>
</table>
@*@section scripts{
     <script>
         let a = function () {
             console.log("hello!");
         }

         $("#btn").click(a);

        </script>
    }*@